<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filit</title>
    <link rel="stylesheet" href="/static/Home.css">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="logo">
        <a href="/"><div class="logoimg"></div></a>
    </div>
    <div class="heading">
        UNDER  CONSTRUCTION
    </div>
    <div class="styles">
        SITE NEARLY READY
        <div class="pro-bar">
            <div class="pbar">
                <p>66%</p>
            </div>
        </div>
        <button type="button">Notify Me!</button>
    </div>
    <div class="social">
        <div class="social-menu">
            <ul>
                <li><a href="https://github.com/" target="blank"><i class="fab fa-github"></i></i></a></li>
                <li><a href="https://www.instagram.com/" target="blank"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/" target="blank"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://codepen.io/"><i class="fab fa-codepen" target="blank"></i></a></li>
            </ul>
        </div>
        <p>&#169; 2022 by Filit Bharat Financial Service Pvt. Ltd.</p>
    </div>
</body>
</html>