@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

*{
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    background-image:url("img/bg-img.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    align-items: center;
}
.logo, .heading, .styles, .social{
    /* border: 1px solid rgb(94, 88, 88); */
    padding: 5px;
}   
.logo{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 200;
}
.logoimg{
    /* text-decoration: none; */
    height: 125px;
    width: 250px;
    /* border: 1px solid red; */
    background-image: url(/static/img/logo1.png);
    background-size: 524px;
    background-repeat: no-repeat;
    background-position: -137px -195px;

}
.logoimg:hover{
    transform: scale(1.05);
    transition:0.5s;
    background-image: url(/static/img/logo2.png);

}

.heading{
    font-size:100px;
    justify-content: center;
    text-align: center;
    width: 800px;
    font-weight: 500;
}
.styles{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    letter-spacing: 20px;
    align-items: center;
}
.pro-bar{
    margin-top: 30px;
    height: 20px;
    width: 600px;
    background-color: bisque;
}
.pbar{
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
    width: 400px;
    background-color: aqua;
    align-items: center;
}
.pbar p{
    color: rgb(22, 26, 68);
    letter-spacing: 1px;
    padding-left: 10px;
    font-weight: bolder;
}
.styles button{
    background-color: aqua;
    margin-top: 50px;
    border: none;
    height: 40px;
    width: 140px;
    color: black;
    letter-spacing: 1px;
    font-weight: bolder;

}

.social{
    margin-top: 40px;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social p{
    margin-top: 70px;
    font-weight: 500;
    letter-spacing: 5px;
}


.social-menu ul{
    padding: 0;
    margin: 0;
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 30px;
    line-height: 60px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    /* position: relative; */
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}